body {
  background-color: black;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.logo {
  text-align: center;
  margin: 10vh auto;
}

.logo img {
  height: auto;
  width: 80%;
  max-width: 1200px;
}
